* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Open sans";
}
.app-container {
  display: flex;
  flex-direction: row;
}
body {
  display: flex;
  flex-direction: row;
  width: 100vw;
  min-height: 100vh;
}
main {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  background-color: #fafafa;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}
