.contact_table {
  text-align: left;
  height: 100vh;
  overflow: scroll;
  width: 100%;
}

.contact_table tr {
  height: 50px;
}

.contact_table td {
  background-color: transparent;
}

.contacts_card {
  width: 100%;
}
